*{
	margin: 0px;
	
}
body{
	background-size:100%;
	background-repeat: no-repeat;
}
.yy{
	text-shadow: 0px 10px 20px #000000;
}


/* /* /* /* /* /* /* /* /* /* /* /* /* index */ 
.xuanze{
	background-image: url(img/xuan.jpg) rgba(255,255,255,0.5);
	margin:0px;
	height: 60px;
	/* opacity:0.5; */
	box-shadow: 0px 10px 20px #000000;
	background-repeat: no-repeat;
}
.zx{
	User-select: none;
	width: 340px;
	float: left;
	margin-left: 30px;
	background-image: linear-gradient(to right,#f0f0f0,#0f0f0f);

}
.zx img{
	height: 60px;
	float: left;
}
.zx p{
	line-height: 60px;
	font-size: 32px;
	color: white;
	opacity: 1;
	
	padding-left: 30%;
	
	
	
}
.yx{
	height: 60px;
	float: right;
	padding-top: 20px;
	

}
.yx li{
	margin-left: 50px;
	float: right;
	text-align: center;
	list-style-type:none;;
	color: white;
	
}
.yx a{
	text-decoration-line: none;
	color: white;
}
.yx a:hover{
	text-shadow: 0px 10px 20px #000000;
	font-weight:bold;
}




.wtk{
	width: 250px;
	height:250px;
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%); 
	margin: 90px;
}
.tk{
	width:100px;
	height: 100px;
	overflow:hidden;
	border-radius: 50%;
	border-style:solid;
	border-color: white;
	margin:20px
}
.tk:hover{
	transform: scale(1.2);
}
.tk img{
	transform: translate(-50%,-50%); 
}
.tz{
	margin-top: 30px;
	width:150px;
	height:50px;
	font-size: 25px;
}
.tz p{
	text-align: center;
	color: white;
	font-family:sans-serif;
	font-weight:bold;
}
.tz:hover{
	transform: scale(1.2);
}

/* /* /* /* /* /* /* gj */

.jsl{
	width: 350px;
	height: 550px;
	background-color: rgba(255,255,255,0.5);
	text-align: center;
	padding-top: 20px;
	margin: 50px 0px 0px 150px;
	float: left;
}
.zp{
	transform:translate(-50px,0px);
	display: inline-block;
	border-style:solid;
	border-color: white;
	text-align: center;
	background-color:skyblue;
	
}
.ldv{
	width: 100px;
	margin-top: 201.5px;
	height: 300px;
	/* background-color: aqua; */
	float: left;
}
.dv1{
	width:100px;
	height: 30px;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	margin: 20px;
	border-radius: 10px 0px 0px 10px;
	color: whitesmoke;
}

.rdv{
	width: 200px;
	height: 300px;
	margin-left: 110px;
	/* background-color: aqua; */
}
.dv2{
	width:170px;
	height: 30px;
	text-align: center;
	padding-left: 15px;
	background-color: rgba(0,0,0,0.5);
	margin: 20px;
	border-radius: 0px 10px 10px 0px;
	color: whitesmoke;
}

.wz1{
	width: 800px;
	height:400px;
	float: left;
	margin: 30px 0px 10px 10px;
	background-color: rgba(255,255,255,0.5);
	overflow: auto;
	white-space: nowrap;
}
.wz1 p{
	margin-top: 30px;
	color: white;
	text-align: center;
	line-height: 60px;
	font-size: 19px;
}
.wz1::-webkit-scrollbar{
	display:none;
}


.wz2{
	width: 800px;
	height: 160px;
	float: left;
	margin: 0px 0px 0px 10px;
	background-color: rgba(255,255,255,0.5);
	
}

/* /* /*  *****************game */ 


/* .dk{
	border:solid red ;
	position: fixed;
	top:100px;
	width:1000px;
	height:485px;


}
.dk img{
	width:1000px;
} */

#main{
		width: 1000px;
		height: 485px;
		position: relative;
		margin: 50px auto;/*为了在此的观看效果，我选择了这个数据*/
		overflow: hidden;/*因为设置了隐藏，所示的效果只有一张solid1*/
		/*可在元素赠加和定位完成后进行影藏*/
	}
	/*
	 * 为所以图片设置同main一样宽高不大推荐
	 	因为，如果图片没进行过处理，强制改变宽高，容易产生变形，
	 	图片将变得难看。
	 * *//*为了使图片叠加所以我们使用absolute，在此之前
	 * 	我们需要去它的父级添加一个relative。
	 * */
	#main .banner-slide{
		position: absolute;
		width: 1000px;
		height: 485px; 
		overflow: hidden;/*防止图片过大，超出范围，影响视觉*/
		display:none;
	}
	#main .slide-active{
		display: block;
	}
	/*
	 * 挨个设置轮播图的图片
	 * 为了方便在图片所在div加内容，标签
	 * 我们选择把轮播图内容以background形式出现。
	 */
	#main .slide1{
		background-image: url("img/num1.jpg");
		background-attachment: fixed;
	}
	#main .slide2{
		background-image: url("img/num2.jpg");
	}
	#main .slide3{
		background-image: url("img/num3.jpg");
	}
	#main .slide4{
		background-image: url("img/num4.jpg");
	}
	#main .slide5{
		background-image: url("img/num5.jpg");
	}
	/*ul标签的移动*/
	#main .dots #dots{
		position: absolute;
		margin-top: 560px;/*由于我设置了li高为40，总高600，所以进行
		560的移动*/
		margin-left: 275px;/*(1200-5*130)/2*/
	}
	#main .dots #dots li{
		height: 40px;
		width: 80px;
		border-radius: 20%;
		background: gray;/*在此的样式根据个人喜好自己添加*/
		/*由于上面的定位，所以*/
		float: left;/*为了是图标自左向右*/
		margin-left: 50px;
		list-style: none;
	}
	#main .dots #dots .li1{
		background: blue;
	}
	#main #left-right .move{
		position: absolute;
		margin-top:260px;
		height: 80px;
		width: 40px;
		font-size: 50px;/*设置<>大小*/
		padding-left: 10px ;
	}
	/*左右分离*/
	#main #left-right #next{
		right:0;
	}
	/*触碰上下张有效果*/
	#main #left-right .move:hover{
		background: rgba(0,0,0,0.4);
	}
